.menuWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menuTitle {
    font-size: 250%;
    color: white;
}

.menuButtons {
    height: 30rem;
    width: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.menuButtons button {
    font-size: 200%;
    padding: 10px 20px 10px 20px;
    border-radius: 28px;
    text-decoration: none;
    border: none;
    background-color: white;
}

.menuButtons Link {
    color: white;
    text-decoration: none;
}

.menuButtons button:hover {
    cursor: pointer;
}